//Colorscheme
$brand-hue: 271;
$brand-saturation: 60%;
$accent-hue: 219;
$accent-saturation: 66%;

@import 'steamloach-scss/variables/color';
@import 'steamloach-scss/variables/spacing';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

//Fonts
$text-font: 'Overpass', sans-serif;
$title-font: 'Playfair Display', sans-serif;

//Default Theme
$title-color: $shade-darkest;
$text-color: $shade-darker;
$link-color: $brand-dark;
$page-background: $shade-lightest;
$border-color: $brand-base;
$modal-shade: rgba($shade-white, 0.9);

//Dark Mode
$dark-mode-title-color: $shade-lighter;
$dark-mode-text-color: $shade-lightest;
$dark-mode-link-color: $brand-light;
$dark-mode-page-background: $shade-darkest;
$dark-mode-border-color: $brand-light;
$dark-mode-modal-shade: rgba($shade-black, 0.8);

//Misc
$light-border-radius: $space-1;
$medium-border-radius: $space-2;
$heavy-border-radius: $space-4;

//Component Width
$super-wide-width: 1600px;
$extra-wide-width: 1420px;
$wider-width: 1248px;
$wide-width: 1024px;
$medium-width: 768px;
$narrow-width: 550px;
$extra-narrow-width: 400px;